MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=press_opcua_collector
MYSQL_SSL_CA=
POLL_INTERVAL_MINUTES=1
OPCUA_READ_BATCH_SIZE=100
MYSQL_INSERT_BATCH_SIZE=2000
PRESS_14_ENDPOINT_URL=
PRESS_15_ENDPOINT_URL=
